# Dependencies
node_modules
npm-debug.log
pnpm-debug.log

# Build outputs
.svelte-kit
build
static/build

# Environment and configuration
.env
.env.*
!.env.example

# Other
.git
.github
.gitignore
*.md
.vscode
.idea
*.log
.DS_Store 